body, 
html{
	width: 100%;
	height: 100%;
	font-family: 'montserrat',sans-serif;
	color: white;
		background: url(https://static.vecteezy.com/system/resources/thumbnails/002/099/443/small_2x/programming-code-coding-or-hacker-background-programming-code-icon-made-with-binary-code-digital-binary-data-and-streaming-digital-code-vector.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
hr {
	border-color: yellowgreen;
	border-width: 4px;
	max-width: 130px;
}
.buffer {
	height: 60px;
}
.btn {
	font-weight: 800;
	border-radius: 400px;
}
.btn {
	background-color: yellowgreen;
	border-color: yellow;
}
.btn: hover{
	background-color: white;
	border-color: orange;
	border-width: 5px;
}
.btn-XL {
	padding: 2rem 2.6rem;
}